__pycache__/
__pycache__/*
*.py[cod]
*$py.class
.idea/
.idea/*
.Python
.vscode
.vscode/*
build/
test_out/
test_out/*
data/*
data
data/
out_eval
out_eval/*
out/*
out/
out_cifar100/
out_cifar100/*
*.png
